* {
    margin: 0%;
    padding: 0%;
}

.contenedor {
    width: 660px;
    height: 660px;
    background: #d4d2ae;
    padding-left: 10px;
}

.top {
    width: 80px;
    display: flex;
    padding: 15px;
    
}

h1 {
    padding-top: 40px;
}
.encabezado {
    display:flex;
    padding-top: 5px;
    padding-left: 80px;
}

.cuadrado1 {
    width: 120px;
    height: 120px;
    border: solid 2px;
    background: #82b4ee;
    margin: 3px;
}

.cuadrado2 {
    width: 120px;
    height: 120px;
    border: solid 2px;
    background:#f36870;
    margin: 3px;
}

.fila {
    display: flex;
}

.fila img {
    height: 90px;
    margin-top: 15px;
    margin-left: 15px;
    }